#departure-div,
#return-div{
    text-align: center;
}

h4{
    color:#1565c0;
}

table{
    margin: 0;
}

#left-div{
    font-weight: 600;
}

.container{
    margin-top: 3%;
    margin-bottom: 8%;
}

.col s3 {
margin-left: 100px;
}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    background-color:#1565c0;
    border: #1565c0;
}
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #1565c0;
    -webkit-box-shadow: 0 1px 0 0 #1565c0;
    box-shadow: 0 1px 0 0 #1565c0;
}
label {
    font-size: 1.0rem;
    color: #727272;
    font-weight: 600;
}

#returnTime {
    padding: 20px
}

#image-holder {
    -webkit-transition: background-image 1000ms ease-out 1s;
    box-shadow: 6px 6px 10px 2px rgba(0, 0, 0, 0.562);
}

#departure-div,#left-div{
    text-shadow: 2px 2px 2px rgba(58, 57, 57, 0.205);
}

label,#departure-iata,#departure-date,#destination-iata{
    text-shadow: 1px 1px 2px rgba(58, 57, 57, 0.253);
}

#submit-btn{
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.534);
}

#submit-btn:hover {
    color: rgb(244, 247, 121);
}
/* Questionare Submit  active*/

#submit-btn:active {
        color: rgb(59, 212, 136) !important;
        box-shadow:inset 0rem 0rem 1.00rem rgba(77, 83, 83, 0.151) !important; 
        transform: translateY(.125rem);
        background-color: rgb(26, 52, 197)!important;
        border-color:  rgba(18, 163, 115, 0.075)!important;
}
